<!-- Include Blog Header -->
<div ng-include="'app/components/headers/blog-header.html'"></div>

<!-- Blog Page Header -->
<section class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h1 class="display-4" data-aos="fade-up">Blog</h1>
                <p class="lead" data-aos="fade-up" data-aos-delay="200">Thoughts, stories, and ideas</p>
            </div>
        </div>
    </div>
</section>

<!-- Blog Posts List -->
<section class="blog-list py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-4 mb-4" ng-repeat="post in blogPosts" data-aos="fade-up" data-aos-delay="{{$index * 100}}">
                <div class="card blog-card">
                    <img ng-src="{{post.image}}" class="card-img-top" alt="{{post.title}}">
                    <div class="card-body">
                        <p class="post-date">{{post.date}}</p>
                        <h5 class="card-title">{{post.title}}</h5>
                        <p class="card-text">{{post.tagline}}</p>
                        <p class="card-text preview-text">{{post.preview}}</p>
                        <a href="#!/blog/{{post.id}}" class="btn btn-primary">Read More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Include Footer -->
<div ng-include="'app/components/footer.html'"></div> 